<div class="container">

  <div class="row">
    <div class="col-xs-3">
      <%= render 'info',{user:current_user} %>
      <%= render 'books/side',{book:@book, user:current_user} %>
    </div>


    <div class="col-xs-9">
      <table class="table">
        <h1>Users</h1>
          <thead>
            <tr>
              <th>Image</th>
              <th>name</th>
            </tr>
          </thead>

          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                 <div><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"%></div>
              </td>
              <td><%= user.name %></td>
              <td>フォロー数：<%= user.following.count %></td>
              <td>フォロワー数：<%= user.followers.count %></td>
              <td>
                <% if user != current_user %>
                  <% if current_user.following?(user) %>
                    <%= link_to user_relationships_path(user.id), method: :delete do %>
                    <div>フォロー外す</div>
                  <% end %>
                  <% else %>
                    <%= link_to user_relationships_path(user.id), method: :post do %>
                    <div>フォローする</div>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to "Show",user_path(user.id), class: "user_#{user.id}" %>
              </td>
            </tr>
          </tbody>
          <% end %>
      </table>
    </div>
  </div>
</div>
